# EXECUTABLES
bin/vbcpp*
bin/alrecord*
bin/altonegen*
bin/makehrtf*
bin/openal-info*

# FILES
*.layout
*.depend
*.save
*.ter
*_gen.*

# DIRECTORIES
obj
doc

# VS CODE FILES
.vscode


#ImGui
bin/imgui_log.txt
bin/imgui.ini

build*/
*.ilk
*.dll
*.pdb
*.exe

bin/devSettings.xml
bin/log*.txt
