[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libs/openal-soft"]
	path = libs/openal-soft
	url = https://github.com/kcat/openal-soft.git
